/* --------------------------------------------------------------
IMPORTAÇÕES
----------------------------------------------------------------- */

@import url(app-fonts.less);
@import url(bootstrap.less);
@import url(gm5_lightbox_react.less);
@import url(library.less);

/* --------------------------------------------------------------
DEFAULT STYLES
----------------------------------------------------------------- */

html,body {height:100%;}

body {.font(); background:#fff;}

#__next, #wrapPageContent {height:100%;}


/* --------------------------------------------------------------
MAIN HEADER
----------------------------------------------------------------- */

#mainHeader
{
    position:fixed; z-index:2; width:100%; height:50px; background:#fff;

    h1
    {
        position:relative; z-index:0; .transition(300ms); position:absolute; z-index:0; top:5px; left:50%; transform:translateX(-50%);
    
        a {display:block;}
        a img {height:40px; width:auto;}

        a.title
        {
            display:block; height:50px; position:relative; top:-5px;

            .font(20px,400,50px,@textos,normal,uppercase);

            i {vertical-align:middle; font-size:20px; position:relative; line-height:54px; top:-2px;}
        }
    }

    #menuComponent
    {
        position:absolute; overflow:hidden; z-index:1; left:-290px; .transition(600ms);

        nav
        {
            position:relative; width:270px; float:left; background:#b9b9b9; overflow:auto; box-shadow:0 0 10px rgba(0,0,0,0.5);

            h3 {height:50px; padding:0 0 0 30px; .font(24px,400,50px,#fff,normal,uppercase); background:@bege;}
            h4 {padding:0 0 10px 30px; .font(18px,400,18px,#fff,normal,none);}

            .main-menu
            {
                background:#fff; padding:0 15px 5px 15px;

                li
                {
                    border-bottom:1px solid rgba(0,0,0,0.1);

                    &:last-child {border:0}

                    a {display:block; padding:0 15px; height:40px; .font(18px,300,44px,#777676,normal,none);}
                    a i {display:inline-block; vertical-align:middle; font-size:16px; margin-right:7px;}
                }
            }

            .institucional
            {
                padding:10px 15px 70px 15px;

                li
                {
                    border-bottom:1px solid rgba(0,0,0,0.1);

                    a {display:block; padding:0 15px; height:40px; .font(18px,300,40px,#fff,normal,none);}
                }
            }

            .social
            {
                padding:0 0 30px 30px;

                li {display:inline-block; margin-right:5px;}
                li a {display:block; border-radius:40px; width:34px; height:34px; line-height:39px; text-align:center; background:#fff;}
                li a i {display:block; font-size:18px; color:#b9b9b9; font-weight:bold;}
            }
        }

        .action
        {
            position:relative; margin:0 0 0 15px; width:60px; height:50px; float:left;

            span {display:block; width:60px; height:50px; position:absolute; left:0; top:0; text-align:center; opacity:0; z-index:0; .transition(600ms);}
            span i {font-size:19px; color:@bege; display:inline-block; line-height:54px;}

            span.activated {opacity:1; z-index:1;}
        }
    }

    &.opened
    {
        h1 {opacity:0;}

        #menuComponent {left:0;}
    }
}

/* --------------------------------------------------------------
HOME COMPONENTS
----------------------------------------------------------------- */

#bannerDestaques
{
    position:absolute; z-index:0; overflow:hidden; top:50px; width:100%; height:~"calc(100% - 50px - 120px)";

    .swiper-container
    {
        position:absolute; width:100%; height:100%; overflow:hidden; top:0; left:0; background:#f2f2f2 url('../images/preloader-images.gif') no-repeat center;
        
        .swiper-slide
        {
            .imgLazyLoad {position:absolute; width:100%; height:100%; z-index:0; top:0}
        }
    }	
}


/* --------------------------------------------------------------
INTERNAS
----------------------------------------------------------------- */

main {position:absolute; width:100%; height:~"calc(100% - 90px)"; z-index:0; overflow:auto; background:#eae9e8; top:50px;}

#pageSobre
{
    .content
    {
        padding:18px;

        h1 {.font(32px,700,36px,@bege,normal,none); padding-bottom:20px;}

        p {.font(18px,400,22px,@textos,normal,none); padding-bottom:20px;}
    }
}

#nossasLojas
{
    ul
    {
        display:flex; flex-flow:row wrap; align-items:stretch; align-content:flex-start; padding:15px 15px;

        li
        {
            width:~"calc(50% - 5px)"; margin:5px 0 5px 0; padding-bottom:5px; box-shadow:0 0 8px rgba(0,0,0,0.2); background:#fff;

            &:nth-child(odd) {margin:5px 10px 5px 0;}

            h3 {.font(16px,700,18px,@textos,normal,none); padding:10px 5px 5px 5px;}

            p {.font(14px,400,16px,@textos,normal,none); padding:0 5px 5px 5px;}
        }
    }
}

#cinema
{
    ul
    {
        padding:10px 10px;

        li.filme
        {
            width:100%; padding-bottom:5px; padding-top:5px; margin-bottom:10px; box-shadow:0 0 8px rgba(0,0,0,0.2); background:#fff; clear:both; overflow:hidden; display:flex; flex-flow:row wrap; align-items:flex-start;

            .col-xs-5, .col-xs-7 {padding:0 5px}

            h3 {.font(18px,700,18px,@textos,normal,none); padding:10px 5px 5px 5px;}

            p {.font(14px,400,17px,@textos,normal,none); padding:0 5px 5px 5px;}

            a.seeMore {display:inline-block; height:30px; .font(14px,700,30px,@textos,normal,none);}

            .colapse
            {
                p {.transition(600ms);}

                &.colapsed
                {
                    position:relative;

                    p.fade {height:100px; padding-bottom:0; position:relative; overflow:hidden;}
                    p.fade:after {.textFade(90px, @corInicial : rgba(255,255,255,0), @corFinal : rgba(255,255,255,1))}
                }
                
                &.expanded
                {
                    p.fade {height:auto; padding-bottom:20px;}
                    p.fade:after {opacity:0;}
                }
            }            
        }
    }
}























/* --------------------------------------------------------------
MAIN HEADER
----------------------------------------------------------------- */

#mainFooter
{
    position:fixed; z-index:2; bottom:0; width:100%; height:40px; background:@bege;

    ul
    {
        display:flex; flex-flow:row nowrap; align-items:center; justify-content:space-around; padding:0 15px;

        li
        {
            text-align:center; opacity:0.7;

            a {display:inline-block; height:40px; line-height:44px; color:#fff; font-weight:normal; padding:0 15px;}
            a span {display:none;}

            &.active {opacity:1;}
        }
    }

    &.big
    {
        height:120px;

        ul
        {
            padding-top:20px;

            li
            {
                opacity:1;

                &:first-child {display:none;}

                a {font-size:24px; line-height:58px;}
                a i {display:inline-block; width:60px; height:60px; border-radius:100px; border:2px solid #fff;}
                a span {display:block; padding-top:8px; font-size:14px; text-transform:uppercase; line-height:14px;;}
            }
        }
    }
}